body {
    background-color: red;
    margin: 0;
    padding: 0;
    }

.banner {
    margin: 40 0;
}

.sitename {
    background-color: rgb(243, 84, 44);
    margin: 40 auto;
    text-align: center;
    border-radius: 20px;
    width: 790;
    height: 140;
}

.sitename:hover {
    cursor: pointer;
}

h1 {
    color:black;
    font-family: Stalinist One;
    font-size:50px;
    display: inline-block;
    vertical-align: top;
}

.surf_icon {
    overflow: scroll;
    height: 70;
    margin-left: 8%;
    display: inline-block;
    vertical-align: top;
    padding-top: 25;
}

.nav {
    background-color: rgb(116, 116, 192);
    margin: 0 0;
    margin-top: -120px;
    right: 0;
    float: right;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 150;
    height: 135;
    position: sticky;
    top: 20;
}

.nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

.nav li {
    width: 140px;
    text-align: center;
    text-decoration: none;
}

.nav li a {
    display: inline-block;
    color: black;
    font-family: Stalinist One;
    font-size: 14px;
    text-align: center;
    padding: 12 16;
    text-decoration: none;
}

.nav li:hover {
    background-color: rgb(103, 103, 196);
    border-radius: 20px;
}



h2 {
    font-size: 28px;
    color: rgb(70, 17, 70);
    margin: 0 20;
    padding: 20 20;
    text-align: left;
}

p {
    text-align: justify;
    font-size:18px;
    margin: 20px;
    padding: 20px;
}

.box {
    text-align: center;
    margin: 20 0;
}

.sideimg {
    border: 20px;
    border-radius: 20px;
    width: 40%;
    display: inline-block;
    vertical-align: middle;
    margin: 20 30;
    height: 420;
}

.sidetext {
    background-color:rgb(178, 202, 238);
    border-radius: 20px;
    width: 40%;
    margin: 20 30;
    display: inline-block;
    vertical-align: middle;
    height: 420;
}

.alcool {
    background: linear-gradient(red, #e67b3e);
    text-align: center;
    margin-top: 40;
    padding: 30 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35;
}

.soft {
    background: linear-gradient(#e67b3e, rgb(216, 161, 41));
    text-align: center;
    margin: 0 0;
    padding: 30 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35;
}

.food {
    background: linear-gradient(rgb(216, 161, 41),rgb(217, 241, 80));
    text-align: center;
    margin: 0 0;
    padding: 30 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 35;
}


.drink {
    background-color:slategray;
    border-radius: 20px;
    width: 500;
    margin: 20 30;
    padding: 30 15;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    text-align: center;
    vertical-align: top;
}

h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35;
    margin: 0 60;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20;
}

.drink_text {
    font-family: 'Courier New', Courier, monospace;
}

.pic {
    border-radius: 20px;
    width: 350;
}


#slide {
    -webkit-transition: left 1s ease;
    transition: left 1s ease;
  }


@media (max-width:1200px) {
    .sitename {margin-bottom: 90;}
  }

@media (max-width:850px) {
    .sitename {width: 570; height: 200;}
    .drink {width: 570 ;}
}

@media (max-width:649px) {
    .sitename {width: 85%; height: auto;}
    h1 {font-size: 32;}
    .nav {width: 140; height: 110; margin-top: -110;}
    .drink {width: 80%;}
    .pic {width: 70%;}
    .nav li a {font-size: 12px; padding: 10 13;}
}




  .bigtext {font-size: 400;}